
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-container {
  width: 60%;
  max-width: 700px;
  padding: 30px;
  background-color: #a1a1fb;
  border-radius: 10px;
}

.invalid-input {
  border: 3px solid red;
}

.invalid-prepend {
  background-color: red;
}

.invalid-prepend > span {
  color: white;
  background-color: red;
  border: 1px solid red;
}

.error-text {
  color: red;
}

.hidden {
  visibility: hidden;
  display: none;
}